<div class="container">
  <div class="row">
    <!-- ユーザー情報や投稿フォームなど -->
    <div class="col-md-3">
      <%= render 'user_info', user: @user %>
    </div>

    <!-- 投稿一覧 -->
    <div class="col-md-8 offset-md-1">
      <h1>Taberus</h1>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @taberus.each do |taberu| %>
            <tr>
              <td>
                <%= link_to user_path(taberu.user) do %>
                  <%= image_tag taberu.user.get_profile_image(100, 100) %>
                <% end %>
              </td>
              <td><%= link_to taberu.title, taberu_path(taberu) %></td>
              <td><%= taberu.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'taberus/footer' %>